<%-include("partials/header")-%>
<div class="container">


<h2>HOME</h2>
<p><%=text1%></p>

</div>
<div class="container-fluid">




  <% if(Post.length>0) {%>
      <h3>Composed</h3>
      <br>
    <% } %>

   <% Post.forEach(function(post){ %>
     <% let id=post._id%>
     <h3><%= post.title %></h3>
     <p>
       <%= post.content.substring(0,100)+"..."%>

       <a href="posts/<%=id%>">Read More</a>
     </p>
   <%  }); %>

</div>
<%-include("partials/footer")-%>
